<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BufferFile</title>
</head>
<body>
    <h1>Commands-pages</h1>
    <ul>
        <li>/bufferfile - menu</li>
        <li>/bufferfile_create - create new buffer file</li>
        <li>/bufferfile_read/<i>name</i> - read exist buffer file</li>
        <li>/bufferfile_move/<i>name</i> - move buffer file to another directory</li>
        <li>/bufferfile_add/<i>name</i> - add element to buffer file</li>
        <li>/bufferfile_pop/<i>name</i> - pop element to buffer file</li>
        <li>/bufferfile_del/<i>name</i> - delete</li>
    </ul>
</body>
</html>