<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Directory</title>
</head>
<body>
    <h1>Commands-pages</h1>
    <ul>
        <li>/directory - menu</li>
        <li>/directory_create - create new directory file</li>
        <li>/directory_read - read directory file</li>
        <li>/directory_move/<i>name</i> - move directory file to another directory</li>
        <li>/directory_del - delete</li>
    </ul>
</body>
</html>