<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LogTestFile</title>
</head>
<body>
    <h1>Commands-pages</h1>
    <ul>
        <li>/logtextfile - menu</li>
        <li>/logtextfile_create - create new log file</li>
        <li>/logtextfile_read - read log file</li>
        <li>delete</li>
    </ul>
</body>
</html>